.btn-default{
    font-size: 24px;
    line-height: 30px;
    padding: 0.5rem 1.5rem;
    border: 1px solid #7289da;
    color: white;
    background: #7289da;
    box-shadow: 0 0 4px rgb(0 0 0 / 26%);
    cursor: pointer;
    border-radius: 5px;
    outline: none; 
}