.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #99aab5;
}

.form-control input {
  display: block;
  width: 100%; 
  font: inherit;
  line-height: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #99aab5;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form-control input:focus {
  outline: none;
  background-color: #99aab5; 
}

.form-control.error{
  color: #bb4646; 
}

.form-control.error> input {
  border: 1px solid #bb4646;
  background: #dd8d8d;
}